language: go

go:
    - '1.9'

before_install:
    # Dart
    - sudo apt-get install -y apt-transport-https
    - sudo sh -c 'curl https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
    - sudo sh -c 'curl https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
    - sudo apt-get -qq update
    - export PATH=/usr/lib/dart/bin:$PATH
    - sudo apt-get install -y dart/stable

script:
    - make test

after_failure:
    - echo "You suck"
